@model Group4_GlassesShop.Models.DataModel.Account
@{
	ViewData["Title"] = "SendEmail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Codescandy">

	<!-- Google tag (gtag.js) -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-M8S4MT3EYG');
	</script>



	<script>
		// Render blocking JS:
		if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);
	</script>

	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/svg" href="../assets/images/logo-icon.svg">


	<!-- Libs CSS -->
	<link href="../assets/fontsfeather/feather.css" rel="stylesheet">
	<link href="../assets/libs/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="../assets/libs/mdi/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="../assets/libs/simplebar/simplebar.min.css" rel="stylesheet">




	<!-- Theme CSS -->
	<link rel="stylesheet" href="../assets/css/theme.min.css">
	<title>Forget Password | Geeks - Bootstrap 5 Template</title>
	<style>
		.nav-borders .nav-link.active {
			color: #0061f2;
			border-bottom-color: #0061f2;
		}

		.nav-borders .nav-link {
			color: #69707a;
			border-bottom-width: 0.125rem;
			border-bottom-style: solid;
			border-bottom-color: transparent;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 0;
			padding-right: 0;
			margin-left: 1rem;
			margin-right: 1rem;
		}
	</style>
</head>

<body>
	<main>
		<section class="container d-flex flex-column">
			<nav class="nav nav-borders">
				<a class="nav-link" href="@Url.ActionLink("UserProfile","CustomerProfile")" onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';">My Profile</a>
				<a class="nav-link" href="@Url.ActionLink("MyOrderList","OrderHistory")" onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';">My order</a>
				<a class="nav-link" href="@Url.ActionLink("AddressView","Address")" onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';">Address</a>
				<a class="nav-link active ms-0" href="@Url.ActionLink("SendCode","ChangePassword")" onmouseover="this.style.transform = 'scale(1.2)';" onmouseout="this.style.transform = 'scale(1)';">Change password</a>
			</nav>
			<div class="row align-items-center justify-content-center g-0 min-vh-98" style="margin: 70px 0px 70px 0px">
				<div class="col-lg-5 col-md-8 py-8 py-xl-0">
					<!-- Card -->
					<div class="card shadow">
						<!-- Card body -->
						<div class="card-body p-6">
							<div class="mb-4">
								<a href="../index.html"><img src="../assets/images/logo-icon.svg" class="mb-4" alt="logo-icon"></a>
								<h1 class="mb-1 fw-bold" style="font-size: 30px; font-weight: bold;">Check your Email</h1>
								<p>Do you want to send a code to your email to be able to change your password ?</p>
							</div>
							<!-- Form -->
							@using (Html.BeginForm("SendCode", "ChangePassword", FormMethod.Post))
							{
								<form>
									@if (!string.IsNullOrEmpty(ViewBag.message))
									{
										<span class="text-danger">@ViewBag.message</span>
									}
									<!-- Email -->
									<div class="mb-3">
										<h5 style="font-weight:bold; font-size:14px;">@Model.Email</h5>
									</div>
									<!-- Button -->
									<div class="mb-3 d-grid">
										<button type="submit" class="btn btn-primary" style="width: 100%; font-weight:bold; background:#754ffe; border-color: azure;">
											Send Code
										</button>
									</div>
									<span style="color:#64748b;">Return to <a href="@Url.ActionLink("UserProfile","ViewProfile")">user profile</a></span>
								</form>
							}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- Scripts -->
	<!-- Libs JS -->
	<script src="../assets/libs/jquery/jquery.min.js"></script>
	<script src="../assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../assets/libs/simplebar/simplebar.min.js"></script>


	<!-- Theme JS -->
	<script src="../assets/js/theme.min.js"></script>



</body>